<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167538169147-ppqvupuqfpusee1iea5g2ck37vq0de35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167538169147-ppqvupuqfpusee1iea5g2ck37vq0de35</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>167538169147-gdsi2fqsp7k5is3rm32c82q7ktkhsbpp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCddM5pfREwZdqa1QqcLG2bQX0oGqOzHCw</string>
	<key>GCM_SENDER_ID</key>
	<string>167538169147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kapuastudio.NERiOS</string>
	<key>PROJECT_ID</key>
	<string>neroom-57764</string>
	<key>STORAGE_BUCKET</key>
	<string>neroom-57764.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167538169147:ios:a23cd6e0319992869f931e</string>
	<key>DATABASE_URL</key>
	<string>https://neroom-57764.firebaseio.com</string>
</dict>
</plist>